@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');




:root {
    /* dark shades of primary color*/
    --clr-primary-1: #FFE169;
    --clr-primary-2: #fad643;
    --clr-primary-3: #edc531;
    --clr-primary-4: #DBB42C;
    /* primary/main color */
    --clr-primary-5: #c9a227;
    /* lighter shades of primary color */
    --clr-primary-6: #b69121;
    --clr-primary-7: #a47e1b;
    --clr-primary-8: #926c15;
    --clr-primary-9: #805b10;
    --clr-primary-10: #76520e;
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(128.8,41.5%,16.1%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  html{

    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
  }

  .whole{
    background-color: #06050d;
  }
  .navbar{
      display: flex;
      justify-content: left;
      height: 100px;
      align-items: center;
      gap: 100px;
      background-color: #06050d;
  }
.container{
    background-color:  #06050d;
    display: none;
    
}
  .burger{
    display: none;
}


  .navlist{
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      
      gap: 40px;
      font-size: 20px;
      font-family: 'MedievalSharp', 'cursive';
      
  }
  .linkat{
      margin-top: 5px;
  }
 .border{
    border:1px solid rgb(232,176,111, 0.5);
    box-shadow:0 2px 3px 0px rgba(232,176,111,0.5);
    border-radius:10px;
    transition:.2s all;
    width: 200px;
    height: 40px;
    text-align: center;
    justify-items: center;
    
 }
 .navlist:hover .border{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .navlist:hover .border:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(232,176,111,0.7);
  }

  
 
  ul{
      list-style: none;
      
  }
  .links{
      text-decoration: none;
      color: #cc944b;
      text-shadow: 0px 4px 3px rgb(232,176,111,0.4),
             0px 8px 13px rgb(232,176,111,0.1),
             0px 18px 23px rgb(232,176,111,0.1);
      font-weight: bold;
  }
  .titlesite{
      color: 
      #e8b06f;
      text-shadow: 0px 4px 3px rgb(232,176,111,0.4),
             0px 8px 13px rgb(232,176,111,0.1),
             0px 18px 23px rgb(232,176,111,0.1);
      font-size: 25px;
      font-family: 'MedievalSharp', 'cursive';
  }
  .navsecond{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(6,5,13, 0.96) ;
      
  }
  .discover{
      color: #cca8fc;
      font-size: 20px;
  }
  p{
      color: white;
      font-size: 15px;
  }
  .btn_discover{
      background-color: black !important;
      width: 100px;
      height: 40px;
      margin-top: 20px;
      color: #e8b06f;
      font-weight: bold;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      box-shadow: 0px 8px 15px rgba(124, 108, 89, 0.5);
      transition: all 0.3s ease 0s;
  }
  .btn_discover:hover {
    background-color: #9241fd !important;
    box-shadow: 0px 15px 20px rgb(232,176,111, 0.5);
    color: #fff !important;
    transform: translateY(-7px);
  }
  #nanatsu{
      width: 450px;
      height: 400px;
      filter:  drop-shadow(0.6rem 0.6rem 1rem rgba(204,168,252, 0.5));
  }
  
  .vintage{
    filter: invert(100%) sepia(26%) saturate(6724%) hue-rotate(304deg) brightness(101%) contrast(100%);
   
    display: block;
  margin-left: auto;
  margin-right: auto;
 
  }
/* .home{
    background-color: rgb(6,5,13, 0.96);
} */


  
  
.carouselcards{
    box-sizing: border-box;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.players_section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    background-color: rgb(6,5,13, 0.96) ;

}
.player_title{
    font-size: 20px;
    color:  #cca8fc;
    /* text-shadow: 0px 0px 6px rgb(232,176,111,0.4); */
    text-shadow: 0px 4px 3px rgb(232,176,111,0.4),
             0px 8px 13px rgb(232,176,111,0.1),
             0px 18px 23px rgb(232,176,111,0.1);
    
}
hr {
    margin: 0;
    margin-top: 0px;
    width: 300px;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgb(65,48,95,0), rgb(232,176,111, 0.9), rgb(65,48,95,0));
}
.playername{
    font-size: 15px;
    color: #e8b06f;
    text-shadow: 0px 4px 3px rgb(232,176,111,0.4),
             0px 8px 13px rgb(232,176,111,0.1),
             0px 18px 23px rgb(232,176,111,0.1);
    margin: 5px;
}
.customcard{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 900px;
    background-color: rgb(6,5,13, 0.96) ;
    
    
}
/* .eaptOe{
    box-shadow:0 0 1px 2px #b782fc !important;
    background-color: rgb(250, 214, 174) !important;
} */
.lcUbOd{
    --webkit-transition: all 250ms ease !important;
    background-color: rgba(103,58,183,1) !important;
    box-shadow: 0 0 1px 3px rgb(232,176,111) !important;
    
}
button{
    color: #e8b06f !important;
    background-color: rgb(204,168,252, 0.2) !important;
}
.jRFJkP:hover:enabled {
    color: #e8b06f !important;
    background-color: rgba(103,58,183,1) !important;
    box-shadow: 0 0 2px 0 #333 !important;
}
.description{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    height: 100px;
}
.titlecustom{
    font-size: 20px;
    color:  #cca8fc;
    text-shadow: 0px 4px 3px rgb(232,176,111,0.4),
             0px 8px 13px rgb(232,176,111,0.1),
             0px 18px 23px rgb(232,176,111,0.1);

}
.cards{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 350px 350px;
    
    
}
.card{
    box-sizing: border-box;
    border: rgb(232,176,111, 0.1) solid 1px;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px #e8b06f;
    
    background-color: rgb(232,176,111, 0.1);
    width: 300px;
    height: 350px;
    justify-items:center;
    justify-content:space-evenly;
    text-align: center;
    margin: 10px;
    
}
#icons{
    font-size: 50px;
    color: #e8b06f;
    border-radius: 100%;
    box-shadow: 0px 4px 3px rgb(232,176,111,0.4),
             0px 8px 13px rgb(232,176,111,0.1),
             0px 18px 23px rgb(232,176,111,0.1);
    
    
    
}
.weapon{
    font-size: 18px;
    margin: 10px;
    color:  #cca8fc;
    text-shadow: 0px 4px 3px rgb(232,176,111,0.4),
             0px 8px 13px rgb(232,176,111,0.1),
             0px 18px 23px rgb(232,176,111,0.1);
}

.newsletter{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(6,5,13, 0.96) ;
    height: 200px;
    align-items: center;
}
.join{
    font-size: 20px;
    color:  #cca8fc;
    text-shadow: 0px 4px 3px rgb(232,176,111,0.4),
    0px 8px 13px rgb(232,176,111,0.1),
    0px 18px 23px rgb(232,176,111,0.1);
    margin-bottom: 15px;

}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
     
        width: 250px;
        float: left;
        height: 30px;
        margin-top: 20px;
        margin-right: 20px;
        text-align: left;
        text-indent: 5px;
        font-size: 12.6pt;
        border-radius: 5px;
        border: solid 1.5px #e8b06f;
        -webkit-transition: 1s;
        transition: 1s;
        
      }
      input[type=text]:hover{
        box-shadow: 0 0 5pt 0.5pt #e8b06f;
      }
      input[type=text]:focus {
        box-shadow: 0 0 5pt 2pt #e8b06f;
        outline-width: 0px;
      }
      #btns{
        background-color: #fce9fc !important;
        width: 90px;
        height: 30px;
        margin-top: 20px;
        color: #b782fc ;
        font-weight: bold;
        font-size: 15px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(124, 108, 89, 0.9);

      }
      #btns:hover{
        background-color: #b782fc !important;
        box-shadow: 0px 15px 20px rgb(232,176,111, 0.5);
        color: #fff;
      }

  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    border: black;
    left:0;
    bottom:0;
    right:0;
    background-color: #06050d;
      
}
.foottitle{
    text-align: center;
    color: #e8b06f;
    font-size: 25px;
    margin-bottom:50px ;
    font-family: 'MedievalSharp', 'cursive';
}
.footcontent{
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    
}
.contain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.titlesfooter{
    font-size: 20px;
    color: #b782fc;
    margin-bottom: 20px;
    font-family: 'MedievalSharp', 'cursive';

}
.sub{
    font-size: 15px;
    color: #e8b06f;
    margin-bottom: 20px;
}
#style{
    height: 300px;
    width: 500px ;
    object-position: 50% 50%;
    filter: invert(90%) sepia(85%) saturate(5937%) hue-rotate(305deg) brightness(93%) contrast(97%);
    
}

#royal{
    width: 500px;
    height: 300px;
    /* background-image: url("assets/royalty.svg"); */
    filter: invert(90%) sepia(85%) saturate(5937%) hue-rotate(305deg) brightness(93%) contrast(97%);
   

}

.error{
    display: flex;
    flex-direction: column;
    background-color: rgb(6,5,13, 0.96);
    justify-content: space-evenly;
    height: 600px;
    justify-content: center;
    align-items: center;

}
.errortext{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerror{
    flex-direction: column;
    align-items: center;
    width: 700px;
}
.errortitle{
    font-size: 70px;
    color: #cca8fc;
    
}
.oops{
    font-size: 30px;
    color: #fce9fc;
    
}
#beru{
    width: 500px;
    height: 400px;
    
  filter: drop-shadow(0.6rem 0.6rem 1rem rgba(204,168,252, 0.8));
}
.errorbtn{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.go{
    font-size: 20px;
    color:#fce9fc;
}
.goback{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background-color: black !important;
      box-shadow: 0px 8px 15px rgba(204,168,252, 0.5);
      transition: all 0.3s ease 0s;
}

 /* About page */
.about{
    background-color: rgb(6,5,13, 0.96) ;
    height: 800px;
}
 
 .content {
    box-sizing: border-box;
    display: inline-block; 
    transform: translate(20%, 0%);
    width: 70%;
    height: 90%;  
    margin: 20px;
    border-color: #cca8fc;
    border-width: 10px;
    text-align: center;
    color: white;
    line-height: 50px;
    border-style: double;
    box-shadow: 2px 10px 15px rgba(232,176,111, 0.9);
  }
  .abouttitle{
      font-size: 25px;
      font-family: 'MedievalSharp', 'cursive';
      color: #e8b06f;
  }
  .aboutline{
    transform: translate(120%, 50%);
  }
  
  @media screen and (min-width: 426px) and (max-width: 1023px){

  }
  
  @media screen and (min-width: 320px) and (max-width: 425px){
    .burger{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        justify-content: left;
        align-items: center;
        background-color: #06050d;
        cursor: pointer;
        
    
    }
    #menu{
        font-size: 20px;
        
    }
    #croix{
        font-size: 20px;
        
    }
    .container{
        display: block;

         /* width: 100%;
        height: 100vh;
        position: absolute; */
        
    }
    .navlist{
        display: none;
    }

    
    .sidebar{
        display: flex;
        flex-direction: column;
        z-index: 1;
        font-size: 15px;
        width: 100%;
        background-color: #06050d ;
        height:100vh;
        float:left;
        position: absolute;
        
    }
    .listlinks{
        height: 400px;
        display: inline;
        padding: 10px 20px;
    
    }
    .listlinks:hover .border{
        filter:blur(3px);
        opacity:.5;
        transform: scale(.98);
        box-shadow:none;
      }
      .listlinks:hover .border:hover{
        transform:scale(1);
        filter:blur(0px);
        opacity:1;
        box-shadow:0 8px 20px 0px rgba(232,176,111,0.7);
      }
      #li{
        
        padding: 10px 20px;
       
         
      }
      .border{
        margin-bottom: 20px;
        border:1px solid rgb(232,176,111, 0.5);
        box-shadow:0 2px 3px 0px rgba(232,176,111,0.5);
        border-radius:10px;
        transition:.2s all;
        width: 200px;
        height: 40px;
        margin-left: 5px;
      }
    .show {
        display:block;
    }
    
    .hide{
    
        display:none;
    }
    .navsecond{
        height: 250px;
    }
    .discover{
        font-size: 15px;
    }
    p{
        font-size: 10px;
    }
    #nanatsu{
        width: 150px;
        height: 100px;
    }
    .btn_discover{
        width: 70px;
        height: 30px;
        margin-top: 10px;
        font-size: 10px;
    }

    .carouselcards{
        width: 300px;
    }
    .player_title{
        font-size: 15px;
    }
    .description{
        display: flex;
        flex-direction: column;
    }
    .titlecustom{
        font-size: 15px;

    }
    .customcard{
        height: 500px;
    }

    .cards{
        grid-template-columns: 200px 200px;
    }
    .card{
        width: 150px;
        height: 200px;
        
    }
    #icons{
        font-size: 30px;
    }


    .weapon{
        font-size: 15px;
        font-family: 'MedievalSharp', 'cursive';
    }
    .newsletter{
        display: flex;
        flex-direction: column;
       

    }
    
    .join{
        font-size: 15px;
        text-align: center;
    }
    input{
        width: 200px;
        height: 25px;
        font-size: 10px;
    }

    .information{
        margin-left: 5px;
    }
    #btns{
        width: 70px;
        height:25px;
        font-size: 10px;
    }
    .footer{
        height: 300px;
    }
    .foottitle{
        font-size: 15px;
    }
    .footcontent{
        height: 200px;
    }
    .titlesfooter{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .sub{
        font-size: 10px;
        margin-bottom: 15px;
    }
  }